<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STREAMING ETL TOOL</title>
</head>
<body>
   <h1>Streaming ETL TOOL</h1>
   <form action="/submit" method='post'>
   <label for="connection_name">Connection Name:</label><br>
   <input type="text" id="connection_name" name="connection_name"><br>
   <label for="connection_type">Connection Type:</label><br>
   <input type="text" id="connection_type" name="connection_type"><br>
   <label for="user_name">User Name:</label><br>
   <input type="text" id="user_name" name="user_name"><br>
   <label for="password">Password:</label><br>
   <input type="text" id="password" name="password"><br><br>
   <label for="hostname">Hostname:</label><br>
   <input type="text" id="hostname" name="hostname"><br><br>
   <label for="port">Port:</label><br>
   <input type="text" id="port" name="port"><br><br>
   <label for="sid">SID:</label><br>
   <input type="text" id="sid" name="sid"><br><br>
  <input type="submit" value="save">
</form>
</body>
</html>